- hours = ['06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22']
doctype html
html(ng-app="app")
  head
    link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css"
    link rel="stylesheet" href="style.css"
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment+langs.min.js")
    javascript:
      angular.module('app', []);
      
      function PlannerCtrl($scope) {
        $scope.areas = ["People", "Health", "Interests", "Organize", "Create", "Work"];
        $scope.routines = ["Floss", "6AM wakeup", "Plan", "Review", "Love", "Photo", "Guitar"];
        $scope.meals = ['breakfast', 'AM snack', 'lunch', 'PM snack', 'dinner', 'night snack'];
        $scope.date = moment();

 
        $scope.addArea = function() {
          $scope.areas.push($scope.inputArea);
          $scope.inputArea = '';
        };
        
        $scope.removeArea = function(index) {
          $scope.areas.splice(index, 1);
        };

        $scope.addRoutine = function() {
          $scope.routines.push($scope.inputRoutine);
          $scope.inputRoutine = '';
        };

        $scope.removeRoutine = function(index) {
          $scope.routines.splice(index, 1);
        };
        
        $scope.addMeal = function() {
          $scope.meals.push($scope.inputMeal);
          $scope.inputMeal = '';
        };
        
        $scope.removeMeal = function(index) {
          $scope.meals.splice(index, 1);
        };
        
        $scope.prevDay = function() {
          $scope.date.subtract('days', 1);
        };
        
        $scope.today = function() {
          $scope.date = moment();
        };

        $scope.nextDay = function() {
          $scope.date.add('days', 1);
        };
      }
      
  body(ng-controller="PlannerCtrl")
    .container
  
      section#customize.no-print
        .page-header: h2 1. Customize
        .row
          .col-sm-3
            h4 Areas <small>Enter to submit</small>
            form(ng-submit="addArea()")
              / button.btn.btn-primary(type="submit" style="float: right;") Add
              input.form-control(type="text" ng-model="inputArea" placeholder="Work, health, create, ...")
      
            ul.list-unstyled
              li(ng-repeat="area in areas")
                a.delete(ng-click="removeArea($index)") &times; 
                | {{ area }}
                
          .col-sm-3
            h4 Routines <small>Enter to submit</small>
            form(ng-submit="addRoutine()")
              input.form-control(type="text" ng-model="inputRoutine" placeholder="Floss, Sport, Study, ...")
      
            ul.list-unstyled
              li(ng-repeat="routine in routines")
                a.delete(ng-click="removeRoutine($index)") &times; 
                | {{ routine }}
                
        
          .col-sm-3
            h4 Meals <small>Enter to submit</small>
            form(ng-submit="addMeal()")
              / button.btn.btn-primary(type="submit" style="float: right;") Add
              input.form-control(type="text" ng-model="inputMeal" placeholder="Lunch, Snack, ...")
          
            ul.list-unstyled
              li(ng-repeat="meal in meals")
                a.delete(ng-click="removeMeal($index)") &times; 
                | {{ meal }}
          
                
          .col-sm-3
            h4 Date
            p: a.btn.btn-default(ng-click="prevDay()" style="width: 100%") Prev day
            p: a.btn.btn-default(ng-click="today()" style="width: 100%") Today
            p: a.btn.btn-default(ng-click="nextDay()" style="width: 100%") Next day
              
      section#print
        header.page-header.no-print
          h2 2. Print <small><strong>Works properly only in Chrome.</strong> Print via standard print dialog</small>
        body
          .paper
            .wrapper
              div#wrapper-top
                #wrapper-top-right
                  section#tasks
                    ul.hours
                      - for hour in hours
                        li: span = hour
                #wrapper-top-left
                  #wrapper-top-left-top
                    section#tasks
                    
                  #wrapper-top-left-bottom
                    section#areas
                      ul.list-areas
                        li(ng-repeat="area in areas") {{ area }}
            
              div#wrapper-bottom
                div#wrapper-bottom-top
                  section#meals
                    table
                      tr: td(ng-repeat="meal in meals") {{ meal }}
            
                div#wrapper-bottom-bottom
                  section#info
                    p
                      span.year
                        | {{ date.format("YYYY") }}
                      | /
                      span.month
                        | {{ date.format("MM") }}
                      | /
                      span.day
                         | {{ date.format("DD") }}
                    p
                      span.week
                        | {{ date.format("ww") }}
                      | .&nbsp;
                      span.weekday
                        | {{ date.format("dddd") }}
                      
                  section#routines
                    ul.list-routines
                      li(ng-repeat="routine in routines") {{ routine }}
                
                  
              

    