<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment+langs.min.js"></script>
    <script type="text/javascript">
      angular.module('app', []);
      
      function PlannerCtrl($scope) {
        $scope.areas = ["People", "Health", "Interests", "Organize", "Create", "Work"];
        $scope.routines = ["6AM wakeup", "Dreams", "Review", "Love", "Photo", "Guitar", "Cook", "Floss"];
        $scope.meals = ['breakfast', 'AM snack', 'lunch', 'PM snack', 'dinner', 'night snack'];
        $scope.date = moment();
      
      
        $scope.addArea = function() {
          $scope.areas.push($scope.inputArea);
          $scope.inputArea = '';
        };
      
        $scope.removeArea = function(index) {
          $scope.areas.splice(index, 1);
        };
      
        $scope.addRoutine = function() {
          $scope.routines.push($scope.inputRoutine);
          $scope.inputRoutine = '';
        };
      
        $scope.removeRoutine = function(index) {
          $scope.routines.splice(index, 1);
        };
      
        $scope.addMeal = function() {
          $scope.meals.push($scope.inputMeal);
          $scope.inputMeal = '';
        };
      
        $scope.removeMeal = function(index) {
          $scope.meals.splice(index, 1);
        };
      
        $scope.prevDay = function() {
          $scope.date.subtract('days', 1);
        };
      
        $scope.today = function() {
          $scope.date = moment();
        };
      
        $scope.nextDay = function() {
          $scope.date.add('days', 1);
        };
      }
    </script>
  </head>
  <body ng-controller="PlannerCtrl">
    <div class="container">
      <section class="no-print" id="customize">
        <div class="page-header">
          <h2>
            1. Customize
          </h2>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h4>
              Areas <small>Enter to submit</small>
            </h4>
            <form ng-submit="addArea()">
              <input class="form-control" ng-model="inputArea" placeholder="Work, health, create, ..." type="text" />
            </form>
            <ul class="list-unstyled">
              <li ng-repeat="area in areas">
                <a class="delete" ng-click="removeArea($index)">&times; </a>{{ area }}
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>
              Routines <small>Enter to submit</small>
            </h4>
            <form ng-submit="addRoutine()">
              <input class="form-control" ng-model="inputRoutine" placeholder="Floss, Sport, Study, ..." type="text" />
            </form>
            <ul class="list-unstyled">
              <li ng-repeat="routine in routines">
                <a class="delete" ng-click="removeRoutine($index)">&times; </a>{{ routine }}
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>
              Meals <small>Enter to submit</small>
            </h4>
            <form ng-submit="addMeal()">
              <input class="form-control" ng-model="inputMeal" placeholder="Lunch, Snack, ..." type="text" />
            </form>
            <ul class="list-unstyled">
              <li ng-repeat="meal in meals">
                <a class="delete" ng-click="removeMeal($index)">&times; </a>{{ meal }}
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>
              Date
            </h4>
            <p>
              <a class="btn btn-default" ng-click="prevDay()" style="width: 100%">Prev day</a>
            </p>
            <p>
              <a class="btn btn-default" ng-click="today()" style="width: 100%">Today</a>
            </p>
            <p>
              <a class="btn btn-default" ng-click="nextDay()" style="width: 100%">Next day</a>
            </p>
          </div>
        </div>
      </section>
      <section id="print">
        <header class="page-header no-print">
          <h2>
            2. Print <small><strong>Works properly only in Chrome.</strong> Print via standard print dialog</small>
          </h2>
        </header>
        <body>
          <div class="paper">
            <div class="wrapper">
              <div id="wrapper-top">
                <div id="wrapper-top-right">
                  <section id="tasks">
                    <ul class="hours">
                      <li>
                        <span>06</span>
                      </li>
                      <li>
                        <span>07</span>
                      </li>
                      <li>
                        <span>08</span>
                      </li>
                      <li>
                        <span>09</span>
                      </li>
                      <li>
                        <span>10</span>
                      </li>
                      <li>
                        <span>11</span>
                      </li>
                      <li>
                        <span>12</span>
                      </li>
                      <li>
                        <span>13</span>
                      </li>
                      <li>
                        <span>14</span>
                      </li>
                      <li>
                        <span>15</span>
                      </li>
                      <li>
                        <span>16</span>
                      </li>
                      <li>
                        <span>17</span>
                      </li>
                      <li>
                        <span>18</span>
                      </li>
                      <li>
                        <span>19</span>
                      </li>
                      <li>
                        <span>20</span>
                      </li>
                      <li>
                        <span>21</span>
                      </li>
                      <li>
                        <span>22</span>
                      </li>
                    </ul>
                  </section>
                </div>
                <div id="wrapper-top-left">
                  <div id="wrapper-top-left-top">
                    <section id="tasks"></section>
                  </div>
                  <div id="wrapper-top-left-bottom">
                    <section id="areas">
                      <ul class="list-areas">
                        <li ng-repeat="area in areas">
                          {{ area }}
                        </li>
                      </ul>
                    </section>
                  </div>
                </div>
              </div>
              <div id="wrapper-bottom">
                <div id="wrapper-bottom-top">
                  <section id="meals">
                    <table>
                      <tr>
                        <td ng-repeat="meal in meals">
                          {{ meal }}
                        </td>
                      </tr>
                    </table>
                  </section>
                </div>
                <div id="wrapper-bottom-bottom">
                  <section id="info">
                    <p>
                      <span class="year">{{ date.format("YYYY") }}</span>/<span class="month">{{ date.format("MM") }}</span>/<span class="day">{{ date.format("DD") }}</span>
                    </p>
                    <p>
                      <span class="week">{{ date.format("ww") }}</span>.&nbsp;<span class="weekday">{{ date.format("dddd") }}</span>
                    </p>
                  </section>
                  <section id="routines">
                    <ul class="list-routines">
                      <li ng-repeat="routine in routines">
                        {{ routine }}
                      </li>
                    </ul>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </body>
      </section>
    </div>
  </body>
</html>
